.post-entry .entry-content{
    display: block;
    overflow: initial;
}

.footer .social-icons {
    vertical-align: middle;
    display: inline;
}
.footer .social-icons a {
    text-decoration: none;
    border: none;
}
.footer .social-icons svg{
    height: 18px;
    width: 18px;
}


.series-toc {
    background: var(--code-bg);
    border-radius: var(--radius);
}
.series-toc h3 {
    padding-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}
.series-toc ol {
    margin-top: 10px;
}
.series-toc ol a {
    text-decoration: underline;
}
.series-toc ol strong {
    font-weight: bold;
}