<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
            {%if site.theme_settings.avatar != null%}
            <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
            {%else%}
            <div class="avatar"></div>
            {% endif %}
        </a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul class="hide">

        <li>            
            <a class="clear" href="{{site.url}}{{site.baseurl}}/favorite-posts/">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="bootstrap-iso">
                    <span class="visible-xs-inline">Favorites</span>
                </span>
            </a>
        </li>
        <!-- Auto Generation of NORMAL pages in the navbar -->
        <!-- {% assign name_page = "" %}
        
        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% if name_page contains page.title %}
        {% else %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title }}
            </a>
        </li>
        {% endif %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}  -->
        
        <!-- Auto Generation of SPECIAL pages in the navbar -->
        {% for item in site.theme_settings.special_page %}
          {% if item[1].enabled %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" href="{{ site.url }}{{ site.baseurl }}/{{ item[0] }}">
                    <i class="fa fa-{{ item[1].icon }}" aria-hidden="true"></i>
                    <span class="bootstrap-iso">
                        <span class="visible-xs-inline">{{ item[1].text }}</span>
                    </span>
                </a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="separator"> | </li>
        <li>            
            <a class="clear" href="{{site.url}}{{site.baseurl}}/timeline/">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span class="bootstrap-iso">
                    <span class="visible-xs-inline">Timeline</span>
                </span>
            </a>
        </li>
    </ul>
        
	</nav>
</header>
